body{
    margin: 0px;
}

.menu_bar{
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    display: flex; 
    justify-content: flex-start;
    border-bottom: 1px solid black;
    align-items: center;
    box-shadow: 5px 7px 5px rgba(117, 14, 121, 0.199);
    /* border-radius: 10px; */
}

.company_title{
    margin-left: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.logo_container{
    margin-left: 10px;
}

.menu_item{
    margin-left: 20px;
    padding: 10px;
}

.menu_item_link{
    font-size: 16px;
    font-weight: bold;
    color: blueviolet;
    text-decoration: none;
    
}

.menu_item_link:hover{
    color:rgb(17, 0, 255);
}


.active{
    background-color: rgb(207, 206, 206);
    border-radius: 10px;
}